@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
*{
    font-family: 'Inter', sans-serif;
}
/* header css  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,.1);
    margin:0 4%;
}
/* hamburger  */
.bar1 , .bar2 , .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
    z-index: 11;
    padding-left:10px;
}

.mobileNav{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 67px;
    left: -100vw;
    transition: transform 0.3s;
    /* z-index: 5; */
    border-top: 3px solid #757575;
    /* overflow: scroll; */
}
.mobileNav p{
    margin-bottom:1.2rem;
}
.mobile-view{
    overflow-y: scroll;
    margin:2% 0% 2% 8%;
    width:84%;
    height:84Vh;
}
.mobilenav-items{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.mobilenav-items a{
    width:40%;
    margin-bottom:1.2rem;
    text-decoration: none;
    color:#121212;
}
.mobilenav-membership{
    display: block;
    text-align: center;
    width:100%;
    padding:15px 0;
    color:white;
    text-decoration: none;
    background-color: #D91E18;
}

.openDrawer{
    transform: translateX(100vw);
}
.animateBar1{
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}
.animateBar2{
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}
.animateBar3{
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}
.position{
    position: fixed;
    /* z-index: 11; */
}
@keyframes flipBar1 {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(45deg) translate(4px , 10px);
    }
}
@keyframes fadeBar2 {
    from{
        transform: scaleX(1);
        opacity : 1;
    }to{
        transform: scaleX(0);
        opacity : 0;
    }
}
@keyframes flipBar3 {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(-45deg) translate(-2px , -7px);
        transition: 0.1s;
    }
}



.nav-left{
    display: flex;
    align-items: center;
    z-index: 20;
}
.nav-left img{
width:68px;
height:24px;
margin-right:12px;
z-index: 25;
}
.nav-left a{
    text-decoration: none;
    color: #757575;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right ul{
    display: flex;
}
.nav-right ul li{
    list-style: none;
    padding:20px 12px;
    font-size:12px;
    font-weight: bold;
    color:#494949;
}
/* .nav-right ul li .menu{
    background-color: #D91E18;
    width:30px;
    height:30px;
    display: none;
} */

.nav-right ul li:hover .menu{
    display: block;
}
.nav-right ul li a{
    background-color:white;
    color:#494949;
    margin:0;
    text-decoration: none;
}
.suppo{
    color:white;
    background-color: #D91E18;
    padding:12px 16px;
    font-size:12px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 24px;
}
.nav-right ul li:hover{
    background-color: rgb(249 250 251);
}
.suppo:hover{
    background-color: rgb(127 29 29);
}
.nav-right .material-icons{
    font-size: 1.95rem; 
}
.mobile-signin{
    display: none;
    text-decoration: none;
    color:#121212;
}
.container {
    display: grid;
    width:92%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    margin: 4%;
}

.container h1 {
    padding-left: 2rem;
    font-size: 3rem;
    font-weight: initial;
}
.container-upperpart {
    width:100%;
    border-top: 6px solid;
    border-radius: 4px;
    height:100%;
    box-shadow: 0 0 8px 5px rgb(208, 206, 206);
}

#n1 {
    border-color: rgb(114, 114, 226);
    grid-row: 1/2;
    grid-column: 1/2;
    width:100%;
}

#n2 {
    border-color: rgb(190, 179, 109);
    grid-row: 2/3;
    grid-column: 1/2;
    width:100%;
}

#n3 {
    border-color: rgb(97, 242, 109);
    grid-row: 2/3;
    grid-column: 2/3;
    width:100%;
}

#n4 {
    border-color: rgb(236, 102, 76);
    grid-row: 1/2;
    grid-column: 2/3;
    width:100%;
}

.card-heading-container {
    align-items: left;
    width: 88%;
    background-color: rgb(246, 246, 246);
    height:5%;
    padding:3% 6%;
}

.card-heading-container img {
    width: 40%;
    height:100%;
}

.card-bottom {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width:98%;
    padding-left:2%;
    height:80%;
    margin:0;
    padding-top:0;
}


span {
    width:98%;
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: bold;

}

p {
    font-weight: 100;
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
}

.preference {
    cursor: pointer;
    font-weight: bold;
}

.bottom-part button {
    cursor: pointer;
    font-size: 1rem;
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    background-color: white;
}
.main-head{
    text-align: center;
}
.bottom-part a {
    width:50%;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}
/* footer  */

footer{
    background-color: #121212;
   padding:0 64px;
}
footer img{
   width:96px;
   height:40px;
   margin :48px 0;
}
.footer-inner{
   display: flex;
   flex-wrap: wrap;
   width:100%;
   color:white;
   justify-content: space-between;
}
.footer-boxes{
   width:30%;
   height:33%;
   /* border:2px solid black; */
}
.footer-heading{
   display: flex;
   flex-wrap: nowrap; 
   margin-bottom:20px;  
}
.mails{
   display: flex;
   align-items: center;
}
.subscribe{
margin:0;
padding:0;
display: flex;
margin:20px 0;
background-color: #fff;
width:100%;
}
.subscribe input{
   width:85%;
   margin:0;
   border:none;
   padding:10px 15px;
   border-radius: 5px;
}
.subscribe input:active,focus{
   border:1px solid blue;
}
.subscribe span{
   background-color: rgb(0, 0, 0);
   margin:0;
   padding:13px 16px;
   border:1px solid white;
   align-self: center;
   /* width:15%; */
}
.subscribe span:hover{
opacity:0.8;
}
.color-grey{
   color:#B5B5B5;
}

.footer-heading span{
   padding-left:15px;
   font-weight: bold;
}
.footer-lists{
   width:30%;
display: flex;
justify-content: space-between;
}
.footer-list{
   width:50%;
   align-items: center;
}

.footer-margin{
   margin-bottom:25px;
   list-style: none;
}
.footer-boxes .footer-list ul li a{
   color:white;
   text-decoration: none;
}
.footer-boxes ul li a:hover{
   
   text-decoration: underline;
}
.rows ul{
   display: flex;
   flex-direction: column;
}
.footer-bottom{
   display:flex;
   justify-content: space-between;
}
.footer-boxe-3{
width:25%;
}
.footer-bottom-left{
   width:70%;
   margin-top:3%;
}
.footer-bottom-left ul{
   display: flex;
   flex-wrap: wrap;
}
.footer-bottom-left ul li{
   width:25%;
}
.footer-bottom-left ul li a{
   color:rgb(181, 181, 181);
   text-decoration: none;
}
.footer-bottom-left ul li a:hover{
   text-decoration: underline;
}
.footer-bottom-right{
    color:rgb(181, 181, 181);
   margin-top:3%;
}
.socialmediabg{
   margin: 15px 12px 0 0;
   display:inline-flex;
   flex-direction: row;
   margin-bottom: 30px;
}
.social-media-icons img{
   width:35px;
   height:35px;
   margin:0;
   /* border-radius: 50%; */
}
#size{
    margin-top: 10px;
}
.fourth-footer-bottom img{
   margin:0;
   width:40%;
   height:100%;
   border-radius: 0;
}


@media only screen and (240px<=width<=767px) {

     /* header media query for phone  */
     .nav-right{
        display: none;
    }
    .nav-left a{
        display: none;
    }
    .hamburger,.mobile-signin{
        display: block;
    }
    header{
        width:92vw;
        height:65px;
        z-index: 15;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #n1 {
        border-color: rgb(114, 114, 226);
        grid-row: 1/2;
        grid-column: 1/2;
        width:100%;
    }
    
    #n2 {
        border-color: rgb(190, 179, 109);
        grid-row: 2/3;
        grid-column: 1/2;
        width:100%;
    }
    
    #n3 {
        border-color: rgb(97, 242, 109);
        grid-row: 3/4;
        grid-column: 1/2;
        width:100%;
    }
    
    #n4 {
        border-color: rgb(236, 102, 76);
        grid-row: 4/5;
        grid-column: 1/2;
        width:100%;
    }
     /* footer media query for phone  */
     .footer-boxes{
        width:100%;
        padding:20px 0;
        border-bottom: 2px solid white;
    }
    .footer-lists,.footer-bottom{
        flex-direction: column;
        width:100%;
    }
    .footer-list{
        flex-wrap: wrap;
        width:100%;
        padding:20px 0 0;
        
    }
    .rows ul{
        flex-direction: row;
        width:100%;
    }
    .rows ul .row-1{
        width:50%;
        border-bottom: 2px solid white;
    }
    .border-bottom{
        border-bottom: 2px solid white;
        padding:20px 0;
    }
    
    footer hr{
        display: none;
    }
    .footer-bottom-right{
        text-align: center;
    }
    .footer-bottom-left{
        width:100%;
    }
    .footer-bottom-left ul{
        display: flex;
        justify-content: space-between;
    }
    .footer-bottom-left ul li{
        width:50%;
    }
    footer{
        padding:20px;
        font-size: 75%;
    }
    .fourth-footer-bottom a img{
        width:120px;
        height:50px;
        border-radius: 0;
    }
    .social-media-icons{
        border-bottom: 0;
    }
    .socialmediabg{
        width:35px;
    }
    .socialmediabg img{
        width:30px;
        height:30px;
    }
}
@media only screen and (768px<=width<=1024px){
     /* header media query for tablet  */
  .nav-right{
    display: none;
}
.nav-left a{
    display: none;
}
.hamburger,.mobile-signin{
    display: block;
    margin:0 2%;
}
header{
    width:92vw;
    height:65px;
    z-index: 15;
}
/* footer media query  */

.footer-boxes{
    width:50%;
    padding:20px 0;
}

.border-bottom{
    padding:20px 0;
}


.footer-bottom-right{
    text-align: center;
}
.footer-bottom-left{
    width:100%;
}
.footer-bottom-left ul{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-left ul li{
    width:50%;
}
footer{
    padding:20px;
}
.footer-boxe-3{
    display: flex;
    width:100%;
}
.fourth-footer-top,.social-media-icons{
    width:50%;
}
.socialmediabg{
    width:50px;
    height:50px;
    margin-bottom: 20px;
}
hr{
    background-color: white;
}
.socialmediabg img{
    width:40px;
    height:40px;
}
.fourth-footer-bottom a img{
    width:170px;
    height:65px;
    border-radius: 0;;
}
.footer-bottom{
    flex-direction: column;
}
}