@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* header css  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,.1);
    margin:0 4%;
}
/* hamburger  */
.bar1 , .bar2 , .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
    z-index: 11;
    padding-left:10px;
}

.mobileNav{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 67px;
    left: -100vw;
    transition: transform 0.3s;
    /* z-index: 5; */
    border-top: 3px solid #757575;
    /* overflow: scroll; */
}
.mobileNav p{
    margin-bottom:1.2rem;
}
.mobile-view{
    overflow-y: scroll;
    margin:2% 0% 2% 8%;
    width:84%;
    height:84Vh;
}
.mobilenav-items{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.mobilenav-items a{
    width:40%;
    margin-bottom:1.2rem;
    text-decoration: none;
    color:#121212;
}
.mobilenav-membership{
    display: block;
    text-align: center;
    width:100%;
    padding:15px 0;
    color:white;
    text-decoration: none;
    background-color: #D91E18;
}

.openDrawer{
    transform: translateX(100vw);
}
.animateBar1{
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}
.animateBar2{
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}
.animateBar3{
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}
.position{
    position: fixed;
    /* z-index: 11; */
}
@keyframes flipBar1 {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(45deg) translate(4px , 10px);
    }
}
@keyframes fadeBar2 {
    from{
        transform: scaleX(1);
        opacity : 1;
    }to{
        transform: scaleX(0);
        opacity : 0;
    }
}
@keyframes flipBar3 {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(-45deg) translate(-2px , -7px);
        transition: 0.1s;
    }
}



.nav-left{
    display: flex;
    align-items: center;
    z-index: 20;
}
.nav-left img{
width:68px;
height:24px;
margin-right:12px;
z-index: 25;
}
.nav-left a{
    text-decoration: none;
    color: #757575;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right ul{
    display: flex;
}
.nav-right ul li{
    list-style: none;
    padding:20px 12px;
    font-size:12px;
    font-weight: bold;
    color:#494949;
}
/* .nav-right ul li .menu{
    background-color: #D91E18;
    width:30px;
    height:30px;
    display: none;
} */

.nav-right ul li:hover .menu{
    display: block;
}
.nav-right ul li a{
    background-color:white;
    color:#494949;
    margin:0;
    text-decoration: none;
}
.suppo{
    color:white;
    background-color: #D91E18;
    padding:12px 16px;
    font-size:12px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 24px;
}
.nav-right ul li:hover{
    background-color: rgb(249 250 251);
}
.suppo:hover{
    background-color: rgb(127 29 29);
}
.nav-right .material-icons{
    font-size: 1.95rem; 
}
.mobile-signin{
    display: none;
    text-decoration: none;
    color:#121212;
}
.container {
    /* height: 4000px; */
    width: 100%;
    /* border: 2px solid red; */
}
.main_container {
    /* border: 2px solid green; */
    height: 100%;
    width: 77%;
    margin: 50px 12%;
}
.first_container{
    /* border: 2px solid blue; */
    height: 25%;
}
.first_container h3 {
    text-align: start;
    font-size: 82%;
    font-weight: 300;
}
.first_container h1 {
    text-align: start;
    font-size: 250%;
    font-weight: 200;
    margin: 10px 0;
}
.first_container p {
    margin-top: 20px;
    font-size: 120%;
}
.first_container button {
    color: white;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    font-size: 60%;
    padding: 15px 25px;
    margin: 30px 0;
}
.first_container button:hover{
    background: linear-gradient(-360deg, rgba(39, 39, 39, 0.929) 0%, rgba(31, 31, 31, 0.775) 50%);;
}
.second_container{
    width: 100%;
    display: flex;
    /* border: 2px solid violet; */
    height: 100%;

}
.second_left{
    width: 67.5%;
    /* border: 2px solid red; */
}
.second_left a {
    font-size: 80%;
    font-weight: normal;
    color: black;
}
.second_left_img {
    cursor: pointer;
    width: 100%;
    /* border: 2px solid brown; */
}
.second_left_img img{
    width: 100%;
}

.second_left_flex{
    /* border: 2px solid black; */
    width: 100%;
    margin: 1% 0;
    height: 70%;

}
.video_container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    height: 95%;
    /* border: 2px solid red; */
    margin-bottom: 125px;
    width: 100%;
}
.video_structure {
    margin: 0px 0 0px 0;
    width: 22%;
    height: 9%;
    /* border: 2px solid green; */
}
.video_img{
    cursor: pointer;
    position: relative;
}
.video_img img{
    width: 100%;
}
.video_tag h3 {
    font-size: 62%;
    right: 3px;
    bottom: 8px;
    position: absolute;
    width: 32px;
    background-color: black;
    color: rgb(183, 183, 183);
    padding: 2px;
    /* border: 1px solid black; */
}
.video_title{
    margin-top: 10px;
}
.video_title h3 {
    font-weight: normal;
    font-size: 78%;
}
.video_title h2 {
    cursor: pointer;
    padding-top: 3px;
    font-size: 100%;
}
.second_right{
    margin-left: 15px;
    /* border: 2px solid blue; */
    width: 40%;
    height: 500px;
}
.second_right{
    padding-left:20px ;
    /* margin: 35px 0; */
    width: 30%;
    /* height: 100%; */
    /* border: 2px solid red; */
}
.right1{
    cursor: pointer;
    position: relative;
    /* border: 1px solid black; */
}
.right2{
    cursor: pointer;
    margin-top: 60px;
    position: relative;
    /* border: 1px solid black; */

}
.right1 span{
    font-size: 120%;
    color:#E62B1E;
}
.right1 span:hover{
    cursor: pointer;
    color: grey;
}
.right2 span:hover{
    cursor: pointer;
    color: grey;
}
.right3 span:hover{
    cursor: pointer;
    color: grey;
}
.right2 span{
    font-size: 120%;
    color:#E62B1E;
}
.right3 span{
    font-size: 120%;
    color:#E62B1E;
}
.right1_content{
    top: 0;
    position: absolute;
    margin-left: 30px;
    width: 80%;
}
.right1_content h3:hover{
    color: rgb(97, 97, 97);
}
.right2_content{
    margin-left: 30px;
    width: 80%;
    top: 0;
    position: absolute;
}
.right2_content h3:hover{
    color: rgb(97, 97, 97);
}
.right1_content h3 {
    font-size: 120%;
}
.right2_content h3{
    font-size: 120%;
}
.right1_content p{
    font-size: 100%;
}
.right2_content p{
    font-size: 100%;
}
.right3{
    cursor: pointer;
    margin-top: 60px;
    position: relative;
    /* border: 1px solid black; */
}
.right3_content{
    top: 0;
    position: absolute;
    margin-left: 30px;
    width: 80%;
}
.right3_content h3:hover{
    color: rgb(97, 97, 97);
}
.right3_content h3{
    font-size: 120%;
}
.right3_content p{
    font-size: 100%;
}
.footer{
    margin-top: 5%;
    width: 100%;
    height: 350px;
    border: 2px solid black;
}


@media only screen and (240px<=width<=767px){
     /* header media query for phone  */
     .nav-right{
        display: none;
    }
    .nav-left a{
        display: none;
    }
    .hamburger,.mobile-signin{
        display: block;
    }
    header{
        width:92vw;
        height:65px;
        z-index: 15;
    }
    .main_container {
        /* border: 2px solid green; */
        height: 100%;
        width: 94%;
        margin: 21px 2% 50px 2%;

    }
    .first_container h3{
        display: none;
    }
    .first_container p {
        margin-top: 20px;
        font-size: 108%;
    }
    .second_container {
        flex-direction: column;
        width: 100%;
        display: flex;
        /* border: 2px solid violet; */
        height: 100%;
    }
    .second_left {
        width: 100%;
        /* border: 2px solid red; */
    }
    .second_left_img {
        cursor: pointer;
        width: 100%;
        /* border: 2px solid brown; */
    }
    .video_structure {
        display: flex;
        margin: 0px 0 0px 0;
        width: 100%;
        height: 9%;
        /* border: 2px solid green; */
    }
    .video_img {
        width: 220px;
        cursor: pointer;
        position: relative;
        margin-bottom: 2%;
    }
    .video_img img {
        width: 221px;
    }
    .video_title {
        margin-top: 10px;
        margin-left: 4%;
    }
    .video_container {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin-top: 22px;
        height: 95%;
        /* border: 2px solid red; */
        margin-bottom: 25px;
        width: 100%;
    }
    .second_right {
        margin-top: 3%;
        /* padding-left: 20px; */
        /* margin: 35px 0; */
        width: 100%;
        /* height: 100%; */
        /* border: 2px solid red; */
    }
    .right2 {
        cursor: pointer;
        margin-top: 33px;
        position: relative;
        /* border: 1px solid black; */
    }
    .right3 {
        cursor: pointer;
        margin-top: 33px;
        position: relative;
        /* border: 1px solid black; */
    }







}


@media only screen and (768px<=width<=1024px){
    .first_container h3{
        display: none;
    }
  /* header media query for tablet  */
  .nav-right{
    display: none;
}
.nav-left a{
    display: none;
}
.hamburger,.mobile-signin{
    display: block;
    margin:0 2%;
}
header{
    width:92vw;
    height:65px;
    z-index: 15;
}
/* header end  */

    .main_container {
        /* border: 2px solid green; */
        height: 100%;
        width: 99%;
        margin: 21px 2% 50px 2%;
    }
    .second_container {
        flex-direction: column;
        width: 100%;
        display: flex;
        /* border: 2px solid violet; */
        height: 100%;
    }
    .second_left {
        width: 100%;
        /* border: 2px solid red; */
    }
    .second_left_img {
        cursor: pointer;
        width: 90%;
        /* border: 2px solid brown; */
    }
    .video_structure {
        margin: 0px 0 17px 0;
        width: 22%;
        height: 9%;
        /* border: 2px solid green; */
    }
    .video_container {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin-top: 22px;
        height: 95%;
        /* border: 2px solid red; */
        margin-bottom: 42px;
        width: 100%;
    }
    .second_right {
        margin-top: 4%;
        padding-left: 5px;
        /* margin: 35px 0; */
        width: 100%;
        height: 100%;
        /* border: 2px solid red; */
    }





}