@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.navbar{
    width: 100%;
    height: 70px;
    border: 2px solid black;
}
.first_div{
    width: 100%;
    height: 40%;
    /* border: 2px solid red; */
    padding: 4% 38%;
    align-items: center;
    justify-content: center;
}
.first_div h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding-left: 0; */
    font-size: 420%;
    margin-bottom: 20px;
}
.first_div p {
    color: grey;
    text-align: center;
    font-size: 120%;
}
.second_div{
    margin: 0 5%;
    width: 90%;
    /* border: 2px solid red; */
    margin-bottom: 80px;
}
hr {
    margin: 2% 4% 6% 4%;
    text-align: center;
    align-items: center;
    width: 92%;
    border: 5px solid rgb(227, 224, 224);
    border-radius: 2px;
}
.image_container{
    display: flex;
}

.image_container .div_img {
    margin: 0 20px 0 0;
    width: 300px;
    /* border: 2px solid green; */
    margin-top: 80px;
}
.div_img{
    cursor: pointer;
}
.image img {
    height: 300px;
}
.image_title{
    padding-right: 10px;
    margin: 20px 0;
}
.image_title .talk{
    font-size: small;
}
.image_title p{
    font-size: 15px;
    margin: 15px 0;
}
.image_title h2 {
    font-size: 140%;
}
.third_div{
    box-shadow: 2px 5px 10px #b6b6b6;
    background-color: rgb(248, 248, 248);

    /* border: 2px solid black; */
    width: 100%;
}
.third_container{
    position: relative;
    display: flex;
    padding: 40px 10px;
    margin: 0 5%;
    width: 90%;
}
.topic_head:hover{
    color: #b6b6b6;
    cursor: pointer;
}
.curator_head:hover{
    color: #b6b6b6;
    cursor: pointer;
}
.third_container h3 {
    font-size: 99%;
    margin-right: 50px;
}
.third_container .topic{
    font-size: 25px;
    position: absolute;
    top: 42%;
    right: 81%;
}
.third_container .topic:hover{
    cursor: pointer;
    color: #b6b6b6;
}
.third_container .curator{
    font-size: 25px;
    position: absolute;
    top: 42%;
    right: 73.4%;
}
.third_container .curator:hover{
    cursor: pointer;
    color: #b6b6b6;
}
.fourth_div{
margin-top: 20px;
    /* border: 2px solid red; */
}
.fourth_container{
    /* border: 2px solid black; */
    margin: 0 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fourth_img {
    cursor: pointer;
    margin: 25px 0%;
    width: 15%;
}
.fourth_image img{
    width: 100%;
}
.fourth_image_title{
    padding-right: 10px;
}
.fourth_image_title .fourth_talk{
    font-size: small;

}

.fourth_image_title h2 {
    font-size: 120%;
}
.fourth_talk{
    margin: 10px 0;
}

.fourth_image_title p{
    font-size: smaller;
    margin-top: 10px;
}

.fifth_div{
    height: 200px;
    /* border: 2px solid green; */
}
.fifth_content{
    cursor: pointer;
    justify-content: space-evenly;
    display: flex;
    padding: 100px 42%;
    align-items: center;
}
.footer{
border: 2px solid black;
    height: 400px;
}


@media only screen and (240px<=width<=767px){
    .first_div h1 {
        align-items: center;
        justify-content: center;
        padding-left: 19%;
        font-size: 50px;
        margin-bottom: 10px;
    }
    .first_div p {
        color: grey;
        font-size: 17px;
    }
    .first_div {
        width: 100%;
        height: 40%;
        /* border: 2px solid red; */
        padding: 6% 29%;
        align-items: center;
        justify-content: center;
    }
    .image img {
        height: 174px;
    }
    .image_title h2 {
        font-size: 20px;
    }
    .image_title {
        padding-right: 33px;
        margin: 20px 0;
    }
    .image_container .div_img{
        margin: 0 10px 0 0;
        width: 250px;
        /* border: 2px solid green; */
        margin-top: 80px;
    }
    .second_div {
        margin: 0 5%;
        width: 75%;
        /* border: 2px solid red; */
        margin-bottom: 80px;
    }
    hr{
        margin: 20px 40px 0 40px;
        width: 90%;
        border: 5px solid rgb(227, 224, 224);
        border-radius: 2px;
    }

    .third_container h3 {
        font-size: 16px;
        margin-right: 50px;
    }
    .third_container .topic {
        font-size: 25px;
        position: absolute;
        top: 40%;
        right: 61%;
    }
    .third_container .curator {
        font-size: 25px;
        position: absolute;
        top: 41%;
        right: 44.4%;
    }
    .fourth_img {
        cursor: pointer;
        margin: 25px 0 15px 0;
        width: 164px;
    }
    .fourth_image_title h2 {
        font-size: 15px;
    }
    .fourth_container {
        /* border: 2px solid black; */
        margin: 0 3%;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fifth_content {
        cursor: pointer;
        justify-content: space-evenly;
        display: flex;
        padding: 100px 36%;
        align-items: center;
    }
    




}

@media only screen and (768px<=width<=1024px){

    hr {
        margin: 50px 45px 0 50px;
        width: 90%;
        border: 5px solid rgb(227, 224, 224);
        border-radius: 2px;
    }
    .first_div {
        width: 100%;
        height: 40%;
        /* border: 2px solid red; */
        padding: 4% 30% 4% 35%;
        align-items: center;
        justify-content: center;
    }
    .first_div h1 {
        align-items: center;
        justify-content: center;
        padding-left: 15%;
        font-size: 54px;
        margin-bottom: 16px;
    }
    .first_div p {
        color: grey;
        font-size: 18px;
    }
    .image img {
        height: 240px;
    }
    .image_title h2 {
        font-size: 20px;
    }
    .image_container .div_img {
        margin: 0 10px 0 0;
        width: 319px;
        /* border: 2px
    px
     solid green; */
        margin-top: 49px;
    }
    .image_title {
        padding-right: 10px;
        margin: 8px 0;
    }
    .image_container .div_img {
        margin: 0 3px 0 0;
        width: 255px;
        margin-top: 49px;
    }
    .image_title p {
        font-size: 16px;
        margin: 11px 0;
    }
    .third_container h3 {
        font-size: 16px;
        margin-right: 50px;
    }
    .third_container .topic {
        font-size: 25px;
        position: absolute;
        top: 40.7%;
        right: 71%;
    }
    .third_container .curator {
        font-size: 25px;
        position: absolute;
        top: 40.7%;
        right: 59%;
    }
    .fourth_container {
        /* border: 2px solid black; */
        margin: 0 5%;
        width: 92%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fourth_image_title h2 {
        font-size: 15px;
    }
    .fourth_img {
        cursor: pointer;
        margin: 25px 0;
        width: 220px;
    }
    .fifth_content {
        cursor: pointer;
        justify-content: space-evenly;
        display: flex;
        padding: 100px 38%;
        align-items: center;
    }

}