@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* header css  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,.1);
    margin:0 4%;
}
/* hamburger  */
.bar1 , .bar2 , .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
    z-index: 11;
    padding-left:10px;
}

.mobileNav{
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 67px;
    left: -100vw;
    transition: transform 0.3s;
    /* z-index: 5; */
    border-top: 3px solid #757575;
    /* overflow: scroll; */
}
.mobileNav p{
    margin-bottom:1.2rem;
}
.mobile-view{
    overflow-y: scroll;
    margin:2% 0% 2% 8%;
    width:84%;
    height:84Vh;
}
.mobilenav-items{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.mobilenav-items a{
    width:40%;
    margin-bottom:1.2rem;
    text-decoration: none;
    color:#121212;
}
.mobilenav-membership{
    display: block;
    text-align: center;
    width:100%;
    padding:15px 0;
    color:white;
    text-decoration: none;
    background-color: #D91E18;
}

.openDrawer{
    transform: translateX(100vw);
}
.animateBar1{
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}
.animateBar2{
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}
.animateBar3{
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}
.position{
    position: fixed;
    /* z-index: 11; */
}
@keyframes flipBar1 {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(45deg) translate(4px , 10px);
    }
}
@keyframes fadeBar2 {
    from{
        transform: scaleX(1);
        opacity : 1;
    }to{
        transform: scaleX(0);
        opacity : 0;
    }
}
@keyframes flipBar3 {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(-45deg) translate(-2px , -7px);
        transition: 0.1s;
    }
}



.nav-left{
    display: flex;
    align-items: center;
    z-index: 20;
}
.nav-left img{
width:68px;
height:24px;
margin-right:12px;
z-index: 25;
}
.nav-left a{
    text-decoration: none;
    color: #757575;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right ul{
    display: flex;
}
.nav-right ul li{
    list-style: none;
    padding:20px 12px;
    font-size:12px;
    font-weight: bold;
    color:#494949;
}
/* .nav-right ul li .menu{
    background-color: #D91E18;
    width:30px;
    height:30px;
    display: none;
} */

.nav-right ul li:hover .menu{
    display: block;
}
.nav-right ul li a{
    background-color:white;
    color:#494949;
    margin:0;
    text-decoration: none;
}
.suppo{
    color:white;
    background-color: #D91E18;
    padding:12px 16px;
    font-size:12px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 24px;
}
.nav-right ul li:hover{
    background-color: rgb(249 250 251);
}
.suppo:hover{
    background-color: rgb(127 29 29);
}
.nav-right .material-icons{
    font-size: 1.95rem; 
}
.mobile-signin{
    display: none;
    text-decoration: none;
    color:#121212;
}

/* header end  */


.first_div{
    width: 100%;
    height: 40%;
    /* border: 2px solid red; */
    padding: 4% 38%;
    align-items: center;
    justify-content: center;
}
.first_div h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding-left: 0; */
    font-size: 420%;
    margin-bottom: 20px;
}
.first_div p {
    color: grey;
    text-align: center;
    font-size: 120%;
}
.second_div{
    margin: 0 5%;
    width: 90%;
    /* border: 2px solid red; */
    margin-bottom: 80px;
}
hr {
    margin: 2% 4% 6% 4%;
    text-align: center;
    align-items: center;
    width: 92%;
    border: 5px solid rgb(227, 224, 224);
    border-radius: 2px;
}
.image_container{
    display: flex;
}

.image_container .div_img {
    margin: 0 20px 0 0;
    width: 300px;
    /* border: 2px solid green; */
    margin-top: 80px;
}
.div_img{
    cursor: pointer;
}
.image img {
    height: 300px;
}
.image_title{
    padding-right: 10px;
    margin: 20px 0;
}
.image_title .talk{
    font-size: small;
}
.image_title p{
    font-size: 15px;
    margin: 15px 0;
}
.image_title h2 {
    font-size: 140%;
}
.third_div{
    box-shadow: 2px 5px 10px #b6b6b6;
    background-color: rgb(248, 248, 248);

    /* border: 2px solid black; */
    width: 100%;
}
.third_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 10px;
    margin: 0 5%;
    width: 90%;
}
.topic_head:hover{
    color: #b6b6b6;
    cursor: pointer;
}
.curator_head:hover{
    color: #b6b6b6;
    cursor: pointer;
}
.third_container h3 {
    width:31%;
    font-size: 99%;
    /* margin-right: 50px; */
}
.third_container .topic{
    font-size: 25px;
    position: absolute;
    top: 42%;
    right: 81%;
}
.third_container .topic:hover{
    cursor: pointer;
    color: #b6b6b6;
}
.third_container .curator{
    font-size: 25px;
    position: absolute;
    top: 42%;
    right: 73.4%;
}
.third_container .curator:hover{
    cursor: pointer;
    color: #b6b6b6;
}
.fourth_div{
margin-top: 20px;
    /* border: 2px solid red; */
}
.fourth_container{
    /* border: 2px solid black; */
    margin: 0 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fourth_img {
    cursor: pointer;
    margin: 25px 0%;
    width: 15%;
}
.fourth_image img{
    width: 100%;
}
.fourth_image_title{
    padding-right: 10px;
}
.fourth_image_title .fourth_talk{
    font-size: small;

}

.fourth_image_title h2 {
    font-size: 120%;
}
.fourth_talk{
    margin: 10px 0;
}

.fourth_image_title p{
    font-size: smaller;
    margin-top: 10px;
}

.fifth_div{
    height: 200px;
    /* border: 2px solid green; */
}
.fifth_content{
    cursor: pointer;
    justify-content: space-evenly;
    display: flex;
    padding: 100px 42%;
    align-items: center;
}
/* footer  */

footer{
    background-color: #121212;
   padding:0 64px;
}
footer img{
   width:96px;
   height:40px;
   margin :48px 0;
}
.footer-inner{
   display: flex;
   flex-wrap: wrap;
   width:100%;
   color:white;
   justify-content: space-between;
}
.footer-boxes{
   width:30%;
   height:33%;
   /* border:2px solid black; */
}
.footer-heading{
   display: flex;
   flex-wrap: nowrap; 
   margin-bottom:20px;  
}
.mails{
   display: flex;
   align-items: center;
}
.subscribe{
margin:0;
padding:0;
display: flex;
margin:20px 0;
background-color: #fff;
width:100%;
}
.subscribe input{
   width:85%;
   margin:0;
   border:none;
   padding:10px 15px;
   border-radius: 5px;
}
.subscribe input:active,focus{
   border:1px solid blue;
}
.subscribe span{
   background-color: rgb(0, 0, 0);
   margin:0;
   padding:13px 16px;
   border:1px solid white;
   align-self: center;
   /* width:15%; */
}
.subscribe span:hover{
opacity:0.8;
}
.color-grey{
   color:#B5B5B5;
}

.footer-heading span{
   padding-left:15px;
   font-weight: bold;
}
.footer-lists{
   width:30%;
display: flex;
justify-content: space-between;
}
.footer-list{
   width:50%;
   align-items: center;
}

.footer-margin{
   margin-bottom:25px;
   list-style: none;
}
.footer-boxes .footer-list ul li a{
   color:white;
   text-decoration: none;
}
.footer-boxes ul li a:hover{
   
   text-decoration: underline;
}
.rows ul{
   display: flex;
   flex-direction: column;
}
.footer-bottom{
   display:flex;
   justify-content: space-between;
}
.footer-boxe-3{
width:25%;
}
.footer-bottom-left{
   width:70%;
   margin-top:3%;
}
.footer-bottom-left ul{
   display: flex;
   flex-wrap: wrap;
}
.footer-bottom-left ul li{
   width:25%;
}
.footer-bottom-left ul li a{
   color:rgb(181, 181, 181);
   text-decoration: none;
}
.footer-bottom-left ul li a:hover{
   text-decoration: underline;
}
.footer-bottom-right{
    color:rgb(181, 181, 181);
   margin-top:3%;
}
.socialmediabg{
   margin: 15px 12px 0 0;
   display:inline-flex;
   flex-direction: row;
   margin-bottom: 30px;
}
.social-media-icons img{
   width:35px;
   height:35px;
   margin:0;
   /* border-radius: 50%; */
}
#size{
    margin-top: 10px;
}
.fourth-footer-bottom img{
   margin:0;
   width:40%;
   height:100%;
   border-radius: 0;
}

@media only screen and (700px<=width<=1024px){

    hr {
        margin: 50px 45px 0 50px;
        width: 90%;
        border: 5px solid rgb(227, 224, 224);
        border-radius: 2px;
    }
    .first_div {
        width: 100%;
        height: 40%;
        /* border: 2px solid red; */
        padding: 4% 30% 4% 35%;
        align-items: center;
        justify-content: center;
    }
    .first_div h1 {
        align-items: center;
        justify-content: center;
        padding-left: 15%;
        font-size: 54px;
        margin-bottom: 16px;
    }
    .first_div p {
        color: grey;
        font-size: 18px;
    }
    .image img {
        height: 240px;
    }
    .image_title h2 {
        font-size: 20px;
    }
    .image_container .div_img {
        margin: 0 10px 0 0;
        width: 319px;
        /* border: 2px
    px
     solid green; */
        margin-top: 49px;
    }
    .image_title {
        padding-right: 10px;
        margin: 8px 0;
    }
    .image_container .div_img {
        margin: 0 3px 0 0;
        width: 255px;
        margin-top: 49px;
    }
    .image_title p {
        font-size: 16px;
        margin: 11px 0;
    }
    .third_div h3:first-of-type{
        margin-left:6%;
    }
    .third_container{
        padding:15px 5px;
        justify-content: flex-start;
    }
    .third_container h3 {
        font-size: 16px;
        margin-right: 50px;
    }
    .third_container .topic {
        font-size: 25px;
        position: absolute;
        top: 40.7%;
        right: 71%;
    }
    .third_container .curator {
        font-size: 25px;
        position: absolute;
        top: 40.7%;
        right: 59%;
    }
    .fourth_container {
        /* border: 2px solid black; */
        margin: 0 5%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fourth_image_title h2 {
        font-size: 15px;
    }
    .fourth_img {
        cursor: pointer;
        margin: 25px 0;
        width:23%;
    }
    .fifth_content {
        cursor: pointer;
        justify-content: space-evenly;
        display: flex;
        padding: 100px 38%;
        align-items: center;
    }
     /* header media query for tablet  */
 .nav-right{
    display: none;
}
.nav-left a{
    display: none;
}
.hamburger,.mobile-signin{
    display: block;
    margin:0 2%;
}
header{
    width:92vw;
    height:65px;
    z-index: 15;
}
/* header end  */

/* footer media query  */

.footer-boxes{
    width:50%;
    padding:20px 0;
}

.border-bottom{
    padding:20px 0;
}


.footer-bottom-right{
    text-align: center;
}
.footer-bottom-left{
    width:100%;
}
.footer-bottom-left ul{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-left ul li{
    width:50%;
}
footer{
    padding:20px;
}
.footer-boxe-3{
    display: flex;
    width:100%;
}
.fourth-footer-top,.social-media-icons{
    width:50%;
}
.socialmediabg{
    width:50px;
    height:50px;
    margin-bottom: 20px;
}
hr{
    background-color: white;
}
.socialmediabg img{
    width:40px;
    height:40px;
}
.fourth-footer-bottom a img{
    width:170px;
    height:65px;
    border-radius: 0;;
}
.footer-bottom{
    flex-direction: column;
}

}

@media only screen and (240px<=width<=699px){
    .first_div h1 {
        text-align: center;
        /* padding-left: 19%; */
        font-size: 50px;
        margin-bottom: 10px;
        object-fit: cover;
        font-size: 2rem;
    }
    .first_div p {
        color: grey;
        font-size: 17px;
    }
    .first_div {
        width: 100%;
        height: 40%;
        /* border: 2px solid red; */
        padding: 6% 29%;
        align-items: center;
        justify-content: center;
    }
    .image_container{
        flex-direction: column;
        width:100%;
    }
   
    .div_img .image{
        width:100%;
    }
    .image img {
        width:100%;
    }
    .image_title h2 {
        font-size: 20px;
    }
    .image_title {
        margin: 20px 0;
    }
    .image_container .div_img{
        width:100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .second_div {
        width: 90%;
        /* border: 2px solid red; */
        margin-bottom: 0;
    }
    
    hr{
        width: 90%;
        border: 5px solid rgb(227, 224, 224);
        border-radius: 2px;
    }
    .third_div{
        width: 80%;
        margin:0 10% ;
        padding:10px 20px;
    }
    .third_container{
        padding:15px 5px;
        justify-content: flex-start;
    }
    .third_container h3 {
        font-size: 16px;
        margin-right: 10px;
    }
    .third_container .topic {
        font-size: 25px;
        position: absolute;
        top: 40%;
        right: 61%;
    }
    .third_container .curator {
        font-size: 25px;
        position: absolute;
        top: 41%;
        right: 44.4%;
    }
    .fourth_img {
        cursor: pointer;
        margin: 25px 0 15px 0;
        width: 164px;
    }
    .fourth_image_title h2 {
        font-size: 15px;
    }
    .fourth_container {
        /* border: 2px solid black; */
        margin: 0 3%;
        width: 94%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fourth_img{
        width:47%;
    }
    .fifth_content {
        cursor: pointer;
        justify-content: space-evenly;
        display: flex;
        padding: 100px 36%;
        align-items: center;
    }
     /* header media query for phone  */
     .nav-right{
        display: none;
    }
    .nav-left a{
        display: none;
    }
    .hamburger,.mobile-signin{
        display: block;
    }
    header{
        width:92vw;
        height:65px;
        z-index: 15;
    }

    /* header media query end  */
/* footer media query for phone  */
.footer-boxes{
    width:100%;
    padding:20px 0;
    border-bottom: 2px solid white;
}
.footer-lists,.footer-bottom{
    flex-direction: column;
    width:100%;
}
.footer-list{
    flex-wrap: wrap;
    width:100%;
    padding:20px 0 0;
    
}
.rows ul{
    flex-direction: row;
    width:100%;
}
.rows ul .row-1{
    width:50%;
    border-bottom: 2px solid white;
}
.border-bottom{
    border-bottom: 2px solid white;
    padding:20px 0;
}

footer hr{
    display: none;
}
.footer-bottom-right{
    text-align: center;
}
.footer-bottom-left{
    width:100%;
}
.footer-bottom-left ul{
    display: flex;
    justify-content: space-between;
}
.footer-bottom-left ul li{
    width:50%;
}
footer{
    padding:20px;
    font-size: 75%;
}
.fourth-footer-bottom a img{
    width:120px;
    height:50px;
    border-radius: 0;
}
.social-media-icons{
    border-bottom: 0;
}
.socialmediabg{
    width:35px;
}
.socialmediabg img{
    width:30px;
    height:30px;
}
}

