@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.header{
    border: 2px solid black;
    width: 100%;
    height: 80px;
}
.first_div{
    width: 100%;
    /* border: 2px solid black; */
}
.first_container{
    margin: 20px 11%;
    width: 80%;
    /* border: 2px solid red; */
}
.first_container h1{
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 30px;
}
.first_container p{
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
}

.second_div{
    /* border: 2px solid green; */
}
.second_div_container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 11%;
    width: 80%;
    /* border: 2px solid aqua; */
    margin-bottom: 100px;
}
.second_container{
    padding: 2px;
    margin: 20px 0;
    width: 48%;
    /* border: 2px solid red; */
}
.second_image img{
    cursor: pointer;
    height: 200px;
    width: 100%;
}
.second_img_title{
    /* border: 2px solid red; */
    margin-bottom: 0;
    margin-top: 30px;
    width: 100%;
}
.second_img_title h2{
    font-weight: 200;
    font-size: 30px;

}
.second_img_title p{
    font-size: 16px;
    margin: 10px 0;
}
.second_container button{
    cursor: pointer;
    border: 1px solid rgb(182, 182, 182);
    font-weight: bold;
    font-size: 15px;
    width: 25%;
    padding: 12px 8px;
    margin-top: 20px;
}
.second_container button:hover{
    background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(136, 136, 136, 0.5) 100%);;
}
.footer{
    border: 2px solid black;
    height: 400px;
}
